@charset "utf-8";
/* CSS Document */
.pag:nth-child(1) .album div:nth-child(1) img {
/*#imagen img {*/
	animation: 5s linear 2s normal infinite anima1;
}
@keyframes anima1 {
	0% {
	transform: rotate(0deg); 	
	}
	35% {
		transform: rotate(-180deg);
	} 
	100% {
		transform: rotate(360deg);
	}

